* {
    padding: 0;
    margin: 0;
}

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #011627;
}

canvas {
    max-width: 100%;
    max-height: 100%;
    border-radius: 6px;
    box-shadow: black 2px 2px 12px;
}
